@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-color:#004040;
}

.bg-primary{
  color:white;
  background-color: var(--primary-color);
}



.text-primary{
  color: var(--primary-color);
}
